@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Roboto+Slab&family=Uncial+Antiqua&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background-color: #EBE3D0;
    color: #311C17;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*----------------------------------Colours*/
.bg-color-footer-area {
    background-color: #494021;
} 
/*----------------------------------Special paddings/margins/text*/
h1 {
    color: #A4770D;
    font-weight: bold;
    font-family: 'Uncial Antiqua', cursive;
    text-transform: uppercase;
    padding-top: 2rem;
}

h2 {
    color: #A4770D;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

/*----------------------------------Footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  display: block;
}

.footer-area {
    padding: 20px 0px 5px 0px;
    text-align: center;
    margin: 0;
    border: 0;
    color: #EBE3D0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #A4770D;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #FAFAFA;
    color: #A4770D;
}

.footer-area-bottom {
    font-size: small;
}