@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Roboto+Slab&family=Uncial+Antiqua&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #EBE3D0;
    color: #311C17;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*----------------------------------Colours*/
.bg-color-footer-area {
    background-color: #494021;
} 
/*----------------------------------Special paddings/margins/text*/
h1 {
    color: #A4770D;
    font-weight: bold;
    font-family: 'Uncial Antiqua', cursive;
    padding-top: 2rem;
}

h2 {
    color: #A4770D;
    font-weight: bold;
    padding: 1.5rem 0;
}

.row {
    margin: 0;
}
/*----------------------------------Counters Section*/
#countersSection p {
    text-align: center;
    font-weight: bold;
}

/*----------------------------------Card Board*/
#gameBoard {
    position: relative;
}
.game-card-column {
    padding: 5px;
    font-family: 'Uncial Antiqua', cursive;    
    color: #311C17;
    text-align: center;
}


.game-card-column img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.card-front {
    position: absolute;
    z-index: -1;
}

.card-back {
}

.show {
    z-index: 200;
}


.card-front p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.game-card {
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  transform: scale(1);
  /*transform-style: preserve-3d, to position them in the 3D space created in the parent
  , instead of flattening it to the z = 0 plane (transform-style).*/
  transform-style: preserve-3d;
  /*Now, a transition has to be applied to the transform property to produce the movement effect:*/
  transition: transform .5s;
  
}

/*The :active pseudo class will be triggered every time the element gets clicked. It will apply a .2s transition to its size:*/
.game-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.game-card.turn {
  transform: rotateY(180deg);
}

/*----------------------------------Buttons Section*/
#buttonsSection .col-2 {
    text-align: center;
    margin: 2rem 0;
}

#buttonsSection i {
    font-weight: bold;
    font-size: 2rem;
}

#buttonsSection i:hover {
    color: #494021;
}

/*----------------------------------Footer*/
.footer-area {
    padding: 20px 0px 5px 0px;
    text-align: center;
    margin: 0;
    border: 0;
    color: #EBE3D0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #A4770D;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #FAFAFA;
    color: #A4770D;
}

.footer-area-bottom {
    font-size: small;
}

/*----------------------------------Media Queries*/
@media only screen and (min-width: 1600px) {
    .card-row {
        padding: 0 35rem 5px 35rem;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1599px) {
    .card-row {
        padding: 0 10rem 5px 10rem;
   }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

@media only screen and (max-width: 768px) {
    /* For mobile and tablet: */
    .game-card-column {
        padding: 1px;
   }
   .card-row {
       padding: 0;
   }
}

